body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://kalix.club/uploads/posts/2022-12/1671684387_kalix-club-p-zadnii-fon-svetlii-pinterest-2.jpg);
    font-style:oblique;
}
main{
    text-align: center;
    font-style: inherit;
}
.m1{
    color: black;
}
.m2{
    font-style: italic;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 25px;
    color:firebrick;
}
